@font-face {
  font-family: "Wakey JetBrainsMono Nerd Font Mono";
  src: url("../assets/fonts/jetbrains-mono-nerd/JetBrainsMonoNerdFontMono-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
